:root {
  --color-main: #55b89a;
  --color-sub: #e8f6f1;
  --color-point: #ffb56b;
  --color-background: #fbfbfb;
  --color-stroke: #e8eeeb;
  --color-white: #ffffff;
  --color-text: #202523;
  --color-sub-text: #68716d;
  --color-input-text: #d0d6d3;
  --color-border-light: #f0f3f1;
}
