.tip-card {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px;
  border-radius: 12px;

  background-color: var(--color-white);
}

.tip-card__illustration {
  flex-shrink: 0;
  width: 38px;
  height: 40px;
}

.tip-card__text-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tip-card__label {
  height: 15px;
}

.tip-card__content {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  color: var(--color-sub-text);
}
