.action-checklist {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 16px;
  border-radius: 12px;

  background-color: #f3fbf8;
}

.action-checklist__item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.action-checklist__dot {
  flex-shrink: 0;

  width: 6px;
  height: 6px;
  border-radius: 3px;

  background-color: var(--color-main);
}

.action-checklist__text {
  font-size: 14px;
  color: var(--color-text);
}
