.common-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0 16px;
  height: 47px;
  border: none;
  border-radius: 14px;

  background-color: var(--color-main);
  color: var(--color-white);

  font-family: 'Wanted Sans', sans-serif;

  cursor: pointer;
}

.common-button--bold {
  height: 53px;
  font-size: 18px;
  font-weight: 700;
}

.common-button--regular {
  height: 51px;
  font-size: 15px;
  font-weight: 400;
}

.common-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.common-button--primary {
  background-color: #55B89A;
  color: #ffffff;
}


.common-button--outline {
  background-color: #ffffff;
  color: #1F2926;

  border: 1px solid #55B89A;
}