.main-page {
  width: 100%;
  min-height: 100vh;

  padding-bottom: 72px;

  background-color: #EFF9F5;

  box-sizing: border-box;
}

.main-page__content {
  width: 100%;
}

.main-page__greeting {
  position: relative;

  padding: 28px 20px 22px;

  background-color: #B7E4D5;
}

.main-page__date {
  margin: 0 0 4px;

  color: #ffffff;

  font-size: 13px;
}

.main-page__welcome {
  margin: 0 0 8px;

  color: #202523;

  font-size: 18px;
  font-weight: 500;
}

.main-page__title {
  margin: 0;

  color: #202523;

  font-size: 24px;
  font-weight: 600;
}

.main-page__speech {
  position: absolute;

  top: 82px;
  right: 30px;

  padding: 8px 12px;

  color: #202523;

  font-size: 11px;
  font-weight: 600;

  transform: rotate(-5deg);
}

.main-page__calendar {
  padding: 15px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #E8F6F1;
}

.main-page__day {
  width: 39px;
  height: 51px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-color:  rgba(225, 225, 225, 0.60);


  color: #68716D;

  font-size: 12px;
}

.main-page__day--completed {
  background-color: linear-gradient(180deg, rgba(255, 213, 154, 0.80) 0%, rgba(254, 247, 230, 0.80) 100%);

  color: #202523;
}

.main-page__record-button {
  padding: 16px 16px 0;
}

.main-page__record-button .common-button {
  border: 0.5px solid #55B89A;

  background-color: #ffffff;
  color: #2F7A63;

  font-size: 16px;
  font-weight: 400;
}

.main-page__recommendation {
  margin: 20px;
  padding: 18px;

  border-radius: 16px;

  background-color: #ffffff;
}

.main-page__recommendation-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-page__recommendation-image {
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;


  background-color: #F3F7E9;
}

.main-page__recommendation-title {
  margin: 0 0 6px;

  color: #202523;

  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;
}

.main-page__recommendation-description {
  margin: 4px;

  color: #68716D;

  font-size: 12px;
}

.main-page__recipe-button {
  width: 100%;
  height: 44px;

  margin-top: 12px;

  border: 0.5px solid #55B89A;
  border-radius: 12px;

  background-color: #E8F6F1;
  color: #2F7A63;

  font-family: inherit;
  font-size: 16px;

  cursor: pointer;
}