.tool-chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  width: 98px;
  height: 62px;
  border-radius: 12px;

  background-color: #f7f8f7;
}

.tool-chip__icon {
  width: 19px;
  height: 19px;
}

.tool-chip__name {
  font-size: 10px;
  font-weight: 700;
  color: var(--color-text);
}
