.nutrient-tag {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;

  padding: 10px;
  border-radius: 12px;
}

.nutrient-tag__label {
  font-size: 11px;
}

.nutrient-tag__value {
  font-size: 16px;
  color: var(--color-content-text);
}

.nutrient-tag--calorie {
  background-color: var(--color-sub);
}

.nutrient-tag--calorie .nutrient-tag__label {
  color: #3e6b5c;
}

.nutrient-tag--carb {
  background-color: #fff4e7;
}

.nutrient-tag--carb .nutrient-tag__label {
  color: #7a5220;
}

.nutrient-tag--neutral {
  background-color: var(--color-background);
  border: 1px solid var(--color-stroke);
}

.nutrient-tag--neutral .nutrient-tag__label {
  color: var(--color-sub-text);
}
