.auth-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  background:
    radial-gradient(
      circle at 35% 85%,
      rgba(225, 244, 238, 0.95) 0%,
      rgba(240, 249, 246, 0.65) 25%,
      rgba(255, 255, 255, 0) 55%
    ),
    #ffffff;
}

.auth-page__container {
  width: 100%;
  max-width: 393px;
  min-height: 100vh;

  padding: 0 28px;

  box-sizing: border-box;
}

.auth-page__logo-section {
  padding-top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5px;
}

/* 위쪽 나뭇잎 그림 */
.auth-page__open-logo {
  width: 58px;
  height: auto;

  display: block;
}

/* MODI 글자 */
.auth-page__logo {
  width: 72px;
  height: auto;

  display: block;
}


.auth-page__description {
  margin-top: 24.8px;

  color: #405750;

  font-size: 13px;
  font-weight: 400;

  text-align: center;
}

.auth-page__form {
  margin-top: 68px;
}

.auth-page__input-group {
  display: flex;
  flex-direction: column;
}

.auth-page__label {
  margin-bottom: 10px;

  color: #747476;

  font-size: 14px;
  font-weight: 500;
}

.auth-page__input {
  width: 100%;
  height: 47px;

  padding: 0 15px;

  box-sizing: border-box;

  border: 1px solid #4FAF92;
  border-radius: 12px;

  background-color: #FFFFFF;

  color: #333333;

  font-size: 14px;

  outline: none;
}

.auth-page__input::placeholder {
  color: #C4C4C4;
}

.auth-page__input:focus {
  border-color: #4FAF92;
}

.auth-page__buttons {
  margin-top: 100px;

  display: flex;
  flex-direction: column;

  gap: 15px;
}